<!DOCTYPE html>
{% load static i18n %}
{% load l10n %}


<html lang="en">
<head>
  <title>Snow application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'viewonsnow/css/bootstrap.min.css' %}">  
  <link rel="stylesheet" href="{% static 'viewonsnow/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static  'viewonsnow/css/dark-mode.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body class="bg-light">

  {# navbar start #}
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow-sm">
    <div class="container-lg ">
      <a class="navbar-brand text-primary fw-bold fs-4" href="#">{% trans "Snow application" %}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto flex-nowrap">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {% trans "Language" %}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% get_current_language as LANGUAGE_CODE %}                
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}

                {% for lang in languages %}
                  <li><a class='dropdown-item' href="/{{lang.code}}"> {{ lang.name_translated  }}</a> </li>
                {% endfor %}
              
            </ul>
          </li>
          <li class="nav-item mx-2"></li>
          <li >
            <input type="checkbox" class="btn-check " id="darkButton" autocomplete="off">
            <label class="btn btn-outline-primary px-3" for="darkButton"><i class="fas fa-moon"></i></label><br>
          </li>
        </ul>
      </div>


      
    </div>
  </nav>
  {# navbar end #}
    
    {# form start #}
    <section class="pt-5 pb-4 mt-5 ">
        <div class="container-lg py-2">
            <form method="post">
            {% csrf_token %}
                
                <div class="row g-3 my-1">
                    <div class="col-md-3">
                        <label for="id_input_before_snow" class="col-form-label">{% trans "Input before snow" %}</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="id_input_before_snow" class="form-control" name="input_before_snow" {% if calc %} value="{{ form.input_before_snow }}" disabled {% endif %} >
                    </div>
                </div>

    
                
                <input type="submit" class="btn my-2 btn-primary"  {% if calc %}value="Clear"{% else %}value="Calculation"{% endif %}>
            </form>

            {% if calc %}
            <div class="row g-3 my-1">
                <div class="col-md-3">
                    <label for="id_output_after_snow" class="col-form-label">{% trans "output_after_snow" %}</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="id_output_after_snow" class="form-control" name="output_after_snow" value="{{ output_after_snow }}"  disabled>
                </div>
            </div>

            {% endif %}


            {% if error_message %} 
                <p><strong> {{error_message}} </strong></p> 
            {% endif %}
        </div>
    </section>
    {# form end #}



  <footer class="footer border-top py-4">
    <div class="container-lg">
      <div class="row">
        <div class="col-lg-12">
          <p class="m-0 text-center text-muted">&copy; 2021 Karol N. </p>
        </div>
      </div>
    </div>
  </footer>

<script src="{% static 'viewonsnow/js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'viewonsnow/js/dark-mode-switch.min.js' %} "></script>
</body>
</html>